/*NORMALIZE*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-size:1em;font-family:monospace, serif;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid silver;}button,input,select,textarea{margin:0;font-size:100%;font-family:inherit;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-spacing:0;border-collapse:collapse;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
/*BOX-SIZING*/
* {
	box-sizing: border-box; 
	margin: 0 auto;
}

/* CLEARFIX */

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: " ";
    font-size: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*BAKCGROUND IMAGE */
  
html {
	position: fixed;
	top, bottom, left, right: -50%;	
	z-index: 1;
	width: 100%;
	background-image:url(../images/asteroids.jpg);
	background-repeat: repeat;
	opacity: 0.95;
	/*background-size: cover;*/
	height: 100%;
}

h1 {
	color: #FFF;
	text-align: center;
	font-size: 12em;
	line-height: 0.85em;
	font-family: 'Abril Fatface', cursive;
}

p {
	color: #fff;
	font-size: 25px;
	/*font-family: 'news706';*/
	font-family: 'Abril Fatface', cursive;
}

/*NAVIGATION BAR | NAVIGATION BAR | NAVIGATION BAR*/
.navBar {
	position: fixed;
	top: 0;
	margin-top: 0;
	padding: 2%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.75);
}

.navBar {
	font-size: 1.25em;
}

ul.navBar li {
	position: relative;
	display: inline;
	padding: 0 3%;
	color: #C20027;
	list-style: none;
	font-family: 'Abril Fatface';
}

ul.navBar li ul li {
	display: list-item;
}

ul.navBar li ul {
	position: absolute;
	display: none;
	background: rgba(255, 255, 255, 0.25);
	list-style: none;
}

ul.navBar li:hover ul {
	display: block;
}

ul.navBar a {
	color: #C20027;
	text-decoration: none;
}

ul.navBar a:hover {
	color: white;
}

/*WRAPPER WRAPPER WRAPPER WRAPPER WRAPPER*/
.wrapper {
	margin: 15% 10%;
	padding: 5% 0 25% 0;
	padding: 5% 1%;
	max-width: 75%;
	border: 5px solid #FFF;
	opacity: 0.85;
}

.wrapper p {
	padding-top: 1em;
	text-align: center;
	font-size: 3.125em;
}
